.main_container {
    display: flex;
    flex-direction: row;
    height: 80vh;    
}


.ad_info_container {
    flex-basis: 60%;
    border: 1px solid black;
    background-color: #A09998;
    word-wrap: break-word;
    overflow-wrap: break-word;
    width: 60%;
    max-height: 80vh;
}

.ad_info_container p {
    word-wrap: break-word;
}


.author_info_container {
    flex-basis: 40%;
    padding: 35px 0 0 35px;
    border: 1px solid black;
    height: 80vh;
}


.ad_info_container img {
    margin: 10px 10px 10px 10px;
    width: 98%;
    height: 55%;
}

.ad_info_container p {
    margin-left: 10px;
    font-size: large;
}

.char_container {
    display: grid;
    grid-template-areas: "a a" "b b";
    grid-template-rows: 50px 30px;
    grid-template-columns: 250px 1fr;
}

.author_img {
    display: flex;
    flex-direction: row;
    min-height: 30vh;
    background-color: #A09998;
    gap: 10rem;
}

figcaption {
    margin: 1rem 0 0 2rem;
}

.author_img img {
    margin: 1rem 0 0 2rem;
    height: 18vh;
}


.author_info_container p {
    font-size: x-large;
}