.chatRoom {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
}


.chat_container {
    background-color: rgb(108, 243, 108);
    width: 100%;
    min-height: 120vh;
    padding-top: 50px;
}

#inbox-container {
    width: 100%;
    height: 100vh;
}

.chat_selector {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 10rem
}