.send_ad_container_row {
    display: flex;
    flex-direction: row;
    border: 0.1rem solid black;
    margin-left: 5rem;
    background-color: rgb(231, 235, 235);
    gap: 2rem;
    max-width: 70rem;
    border-radius: 1rem;
    padding-left: 1rem;
    box-shadow: 12px 10px 10px rgb(133, 123, 123);
}

.send_ad_container_row input[type="text"] {
    padding-left: 0.3rem;
    border-radius: 5px;
    border: 1px solid gray;
}

.send_ad_container_row h1 {
    font-size: xx-large;
}

.send_ad_container_row select {
    padding-left: 0.2rem;
    border-radius: 5px;
    border: 0.1rem solid grey;
}

.send_ad_container img {
    width: 40rem;
    height: 25rem;
    border: 1px solid black;
    border-radius: 2rem;
    box-shadow: 12px 10px 10px rgb(133, 123, 123);
}



.send_ad_container {
    padding-top: 5rem;
    display: flex;
    background-color: rgb(212, 212, 212);
    min-height: 125vh;
    overflow-x: hidden;
}

.country_select {
    align-self: center;
    margin-left: 60px;
    min-width: 560px;
}


.send_ad_container_info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 0.1rem solid black;
    padding: 4rem 4rem 2rem 0rem;
    background-color: rgba(87, 211, 87, 0.753);
    border-radius: 30px;
    margin-left: 5rem;
    margin-bottom: 2rem;
    box-shadow: 12px 10px 10px rgb(133, 123, 123);
}

.send_ad_image_container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}


.send_ad_image_container figcaption {
    padding-left: 6rem;
}


input[type="file"] {
    align-self: center;
    font-size: larger;
}


.send_input_text {
    align-self: center;
    font-size: x-large;
    float:right;
    margin-left: 5rem;
}


.send_input_text_price {
    align-self: center;
    font-size: x-large;
    float:right;
    margin-left: 6rem;
}


.send_input_region {
    align-self: center;
    font-size: x-large;
    float:right;
    margin-left: 3rem;
}

.send_input_text_name {
    align-self: center;
    font-size: x-large;
    float:right;
    margin-left: 20px;
}

.type_select {
    width: 550px;
    align-self: center;
    margin-left: 125px;
}


.quality_select {
    align-self: center;
    margin-left: 35px;
    min-width: 550px;
}

figure {
    margin-left: 50px;
}


.btn-ad {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50rem;
    margin-left: 5rem;
}